<form>
  <div class="container new-project">
    <div class="row">
      <h4>Add new project</h4>
    </div>
    <div class="form-group row ">
      <label class="col col-md-5" for="proName">Project title</label>
      <input class="col form-control " id="proName" type="text" placeholder="Title...">
    </div>
    <div class="form-group row ">
      <label class="col col-md-5" for="summary">Project summary</label>
      <textarea class="col form-control" rows="6" id="summary" placeholder="Summary..."></textarea>
    </div>
    <div class="form-group row">
      <label for="doc" class="col col-md-5">Documentation</label>
      <input type="file" multiple="true" id="doc" class="col form-control">
    </div>
    <div class="form-group row">
      <label for="deadline" class="col col-md-5">Deadline</label>
      <input id="deadline" type="date" class="col form-control" placeholder="Date...">
    </div>
    <div class="form-group row ">
      <label for="workers" class="col col-md-5">Add workers</label>
      <input type="text"  class="col form-control" id="workers" (enter)="addWorkerToProject()" (change)="searchForSimilar()" placeholder="Type to select workers...">
    </div>
  </div>
  <div class="form-group row" id="selected"></div>
  <div class="form-group  row">
    <button class="button  col col-md-4 offset-8" type="submit" >Save project</button>
  </div>
</form>