<div class="container">
  <div class="row">
    <h5>Workplace data</h5>
  </div>
  <div class="row">
    <div class="card card-default col">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Emploee</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Projects assign</th>
            <th scope="col">Worked on</th>
            <th scope="col">Tasks involved</th>
            <th scope="col">Actions validated</th>
            <th scope="col">Actions created</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <th>Jon</th>
            <th>Jan</th>
            <th>2</th>
            <th>12</th>
            <th>34</th>
            <th>55</th>
            <th>11</th>
          </tr>
          <tr>
            <th scope="row">1</th>
            <th>Jon</th>
            <th>Jan</th>
            <th>2</th>
            <th>12</th>
            <th>34</th>
            <th>55</th>
            <th>11</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>