@import url('https://fonts.googleapis.com/css?family=Ubuntu'); 

.container{
   
    padding-left: 15px;
}
.card{
    background-color: transparent;
    max-height: 300px;
    overflow: auto;
}
.table-borderless{
    color: #727272;
    border:none !important;
    font-style: 'Ubuntu',sans-serif;
}
h5{
    color:#828282;
}