<div class="container">
  <div class="row">
    <h5>Project status/updates </h5>
  </div>
  <div class="row">
    <div class="card card-default col">
     <table class="table table-borderless">
       <thead><tr>
         <th scope="col">#</th>
         <th scope="col">Project name</th>
         <th scope="col">Tasks</th>
         <th scope="col">Completed</th>
         <th scope="col">Actions</th>
         <th scope="col">Completed</th>
         <th scope="col">% Completed</th>
       </tr></thead>
       <tbody>
         <tr>
           <th scope="row">1</th>
           <th>Ime projekta</th>
           <th>22</th>
           <th>11</th>
           <th>80</th>
           <th>40</th>
           <th>50</th>
         </tr>
         <tr>
          <th scope="row">2</th>
          <th>Ime projekta</th>
          <th>22</th>
          <th>11</th>
          <th>80</th>
          <th>40</th>
          <th>50</th>
        </tr>
       </tbody>
     </table>
    </div>
  </div>
</div>