<div class="container">
  <div class="row">
    <div class="col col-lg-3 menu">
      <h4 class="title">Task manager</h4>
      <div class="row panel panel-default">
        <div class="col user">
          <img src="../../../assets/images/user.png" width="60px" height="60px" alt="User icon"><br>
          <span>Username</span><br>
          <span>Role</span>
        </div>

      </div>
      <div class="row">
        <button type="button" class="col button" (click)="addNewProject()">Add new project</button>
      </div>
      <div class="row">
        <button type="button" class="col button">Manage existing</button>
      </div>
      <div class="row">
        <button type="button" class="col button">Manage workplace</button>
      </div>
      <div class="row">
        <button type="button" class="col button">Ongoing projects</button>
      </div>
      <div class="row">
        <button type="button" class="col button">Finished projects</button>
      </div>
      <div class="row">
        <div class="col activity"></div>
      </div>
    </div>
    <div class="col">
      <div class="container">
        <div #main class="row  ">
        



        
        </div>
      </div>
    </div>
  </div>
</div>