.box{
    margin-top:3% !important;
  
}
.title{
    text-align: center;
}
.card{
    background-color: transparent;
    color:white;
   
}
h2{
  color:#1A82C8;
}
h4{
    color:#1A82C8;
}
.login{
    margin-top:3% !important ;
}
.buttonLogin{
    outline: none;
    border:0px;
    background-color: #105482;
    color:white;
}
.buttonRegister{
    margin-left: 5px;
    outline: none;
    border:0px;
    background-color: #0A4166;
    color:white;
}
.buttonLogin:hover{
    background-color: #0B4369;
}
.buttonRegister:hover{
    background-color: #062B45;
}
.footer{
   background-color: #212121;
   position: fixed;
   bottom: 0px;
   float: left;
 }
 .footerOption{
    color:#929292;
    outline: none;
    border:0px;
   background-color: transparent;
 }
 .footerOption:hover{
     background-color: #626262;
 }
.info{
   float: right;
}
a:hover{
   text-decoration: none;
}
#about{
   margin-top:10px;
}
#social{
   margin-top:10px;
}
#developer{
   margin-top:10px;
}