<div class="container ">
  <div class="row">
    <h4 class="col">Manage projects</h4>
    <div class="col col-md-3"><button class="button col" (click)="newMeeting()"><img class="icon"
          src="../../../assets/images/icons8-users-meeting-filled-50.png" width="25px" height="25px">Meeting</button>
    </div>

    <div class="col col-md-3"><button class="button col" (click)="newTask()"><img
          src="../../../assets/images/icons8-task-filled-50.png" class="icon" width="25px" height="25px">Task</button></div>
  
  </div>

  <div class="row card">
    <div class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Project name</th>
          <th scope="col">Ongoing for</th>
          <th scope="col">Deadline in</th>
          <th scope="col">People working</th>
          <th scope="col">% completed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <th><button class="btn project">Ime projekta</button></th>
          <th>2 months,4 days</th>
          <th>1 month,26 days</th>
          <th>6</th>
          <th>50</th>
        </tr>
        <tr>
          <th scope="row">2</th>
          <th>Ime projekta</th>
          <th>2 months,4 days</th>
          <th>1 month,26 days</th>
          <th>6</th>
          <th>50</th>
        </tr>
        <tr>
          <th scope="row">2</th>
          <th>Ime projekta</th>
          <th>2 months,4 days</th>
          <th>1 month,26 days</th>
          <th>6</th>
          <th>50</th>
        </tr>
        <tr>
          <th scope="row">2</th>
          <th>Ime projekta</th>
          <th>2 months,4 days</th>
          <th>1 month,26 days</th>
          <th>6</th>
          <th>50</th>
        </tr>
        <tr>
          <th scope="row">2</th>
          <th>Ime projekta</th>
          <th>2 months,4 days</th>
          <th>1 month,26 days</th>
          <th>6</th>
          <th>50</th>
        </tr>
        <tr>
          <th scope="row">2</th>
          <th>Ime projekta</th>
          <th>2 months,4 days</th>
          <th>1 month,26 days</th>
          <th>6</th>
          <th>50</th>
        </tr>
      </tbody>
    </div>
  </div>
  <div class="row" id="manage" #manage></div>
</div>